.tab {
    overflow: scroll;
    white-space: nowrap;
}

::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
}

.tab div {
    border: none;
    border-radius: 7px;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
