.spinningCover {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
}

.spinningLogo {
    position: fixed;
    display: block;
    top:40%;
    left:50%;
    height: 12rem;
    width: 12rem;
    margin-left: -6rem;
    margin-top: -6rem;
}


.background {
}

.headerCanvas {
    width: 100%;
    height: 70px;
    display: inline-block;
}

form {
    padding-top: 0;
}

.headerCanvasTitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 70px;
    vertical-align: center;
    margin-right: 70px;
    color: black;
}

.headerCanvasBackButton {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    line-height: 70px;
    vertical-align: middle;
    color: black;
}

.headerCanvasBack {
    float: left;
    font-size: 20px;
    border: transparent;
}


.subheader {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.tableStyle {
    width: 100%;
    padding: 40px 5% 0 5%;

}

.tableStyle td {
    text-align: left;
    height: 40px;
    font-size: 15px;
    padding: 10px 20px 10px 15px;
}

.tableStyle tr {
    border-bottom: 1px solid lightgray;
}

.enterTitle {
    display: inline-block;
    font-size: 17px;
    padding: 1rem 0;
    font-weight: 400;
}

.leftCell {
    width: 30%;
    padding: 1.3rem 0;
}

input::placeholder {
    color: #a49fa1;
}

input {
    font-size: 16px;
    font-weight: lighter;
    outline: none;
    border: none;
    color: #636061;
    width: 100%;
}

.storeOption {
    width: 90%;
    float: left;
    margin-left: 20px;
}

.postalCode {
    margin-left: 95px;
}

.marginLeft {
    margin: 0 0 0 130px;
}

.marginName {
    margin-left: 143px;
}

.marginPhone {
    margin-left: 139px;
}

.marginEmail {
    margin-left: 146px;
}

.marginStreet {
    margin-left: 140px;
}

.marginCity {
    margin-left: 155px;
}

.marginProvince {
    margin-left: 120px;
}

textarea {
    outline: none;
    font-size: 35px;
    border-color: #827e7f;
}

.divider {
    margin: 50px 0 0 0;
}

.titleDivider {
    margin: 0 0 0 0;
}

.highlightBlue {
    font-size: 35px;
    font-weight: lighter;
    color: #00b1ed;
    margin-left: 1em;
}

.highlightPrice {
    font-size: 35px;
    font-weight: lighter;
    color: #00b1ed;
    float: right;
    margin-right: 20px;
    display: inline;
}

.p {
    width: 750px;
}

.cal {
    margin-top: 15px;
}

.total {
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 80px;
    line-height: 50px;
    margin-bottom: 100px;
}

.total-price {
    font-size: 35px;
    font-weight: bold;
    float: right;
    margin-right: 20px;
    display: inline;
}


.inline {
    width: 90%;
    margin: 50px 5% 200px 5%;
}

.cancel {
    height: 50px;
    width: 45%;
    float: left;
    border: 1px solid #5f5c5d;
    border-radius: 6px;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 30px;
}

.next {
    width: 100%;
    height: 3.3rem;
    border: none;
    background-color: #ff7f00;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 0;
    color: #FFF7FB;
    bottom: 0;
    position: fixed;
    padding: 0;
    left: 0;
}

.icon {
    width: 50px;
    height: 50px;
}
