<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"/>
    <title>Your App</title>
    <script>
      const entranceData = {
        'projectId': 'testpiddd',
        'merchantId': '900010000018964',
        'merchantName': '清华大学',
        'payType': 'whatEVER',
        'openId': '239871239045871',
      };
      const metadata = '';
    </script>
</head>
<body>
<div id="root"></div>
</body>
<!--<script async defer-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFZ_W0h34fapNMFdp3YubsXu1Kc-UAn8Q&callback=initMap">-->
<!--</script>-->
</html>
