.tabContent {
    display: block;
    padding: 6px 12px;
    border: 1px solid white;
    border-top: none;
    font-size: 50px;
    font-weight: lighter;
}

.tabLinks {
    background-color: white;
}

.pizzaMenu {
    width: auto;
    border: solid #FFF7FB;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.pizzaMenu img {
    float: left;
    margin: 20px 0 10px 10px;
    width: 80px;
}

.pizzaMenu div {
    font-size: 13px;
    font-weight: lighter;
    line-height: 30px;
    padding-top: 15px;
}

.pizzaMenu div div {
    color: #BCB6B9;
    font-weight: lighter;
    font-size: 13px;
}

.pizzaMenuPrice {
    font-size: 13px;
    font-weight: lighter;
    padding-bottom: 40px;
}
