.tabContent {
    display: block;
    /*padding: 6px 12px;*/
    border: 1px solid white;
    border-top: none;
    font-size: 50px;
    font-weight: lighter;
}

.tabLinks {
    background-color: white;
}

.pizzaMenu {
    width: 100%;
    border: solid #FFF7FB;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Helvetica, serif;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: white;
}

.pizzaMenu img {
    float: left;
    margin: 10px 10px 20px 10px;
    width: 130px;
}

.pizzaMenu div {
    font-size: 15px;
    font-weight: lighter;
    line-height: 20px;
    margin: auto;
}

.pizzaMenu div div {
    color: #BCB6B9;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
}

.pizzaMenuPrice {
    font-size: 15px;
    font-weight: lighter;
    /*padding-bottom: 20px;*/
}


