.tabContent {
    display: block;
    /*padding: 6px 12px;*/
    border: 1px solid white;
    border-top: none;
    font-size: 50px;
    font-weight: lighter;
}

.tabLinks {
    background-color: white;
}
.pizzaName{
    color: black;
    font-weight: bold;
}
.pizzaDetail{

}

.pizzaMenu {
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    font-family: Helvetica, serif;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: white;
}

.pizzaMenu img {
    float: left;
    margin: 10px 10px 20px 10px;
    width: 130px;
}

.picArea{
    font-size: 15px;
    line-height: 20px;
    margin: auto;
}
.textArea{
    color: #BCB6B9;
    font-weight: lighter;
    font-size: 15px;
    line-height: 20px;
    /*position: relative;*/
}

.pizzaMenuPrice {
    font-weight: bold;
    color: #000;
    font-size: 15px;
    float: bottom;

    /*position: absolute;*/
    /*bottom: 0px;*/
    /*padding: 0px;*/
    /*margin: 0px*/
}


