
.background {
    background-color: white;
    width: 90%;
    margin: 0 5%;
}

.headerCanvas {
    width: 100%;
    height: 70px;
    display: inline-block;
    background-color: white;
}

form {
    padding-top: 0;
}

.headerCanvasTitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 70px;
    vertical-align: center;
    margin-right: 70px;
    color: black;
}

.headerCanvasBackButton {
  float: left;
  font-size: 20px;
  margin-left: 10px;
  line-height: 70px;
  vertical-align: middle;
  color: black;
  font-weight: 400;
}


.subheader {
  font-size: 16px;
  font-weight: lighter;
  float: left;
  margin: 20px 0 10px 20px;
  color: black;
}

.label {
    font-size: 16px;
    float: left;
    margin-left: 20px;
    position: relative;
    line-height: 35px;
}

.nameLabel {
    /*line-height: 45px;*/
    display: inline;
    clear: both;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.textarea {
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 60px;
    border: 1px solid lightgrey;
    padding-left: 20px;
}

.textarea::placeholder{
  color: #bfbfbf;
}

.textarea:focus{
  color: #575455;
}


.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.titleDivider {
    margin: 0 0 0 0;
}

.highlightBlue {
    font-size: 16px;
    font-weight: lighter;
    color: black;
    float: right;
    margin-right: 10px;
    vertical-align: middle;
}

.highlightPrice {
    font-size: 16px;
    font-weight: lighter;
    color: #00b1ed;
    float: right;
    margin-right: 20px;
    display: inline;
}


.cal {
    margin-top: 15px;
}

.completeTotal {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: black;
  margin-top: 20px;
}

.completeTotalPrice{
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  display: inline;
  color: black;
}

.total {
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
}

.totalPrice {
  font-size: 16px;
  font-weight: lighter;
  float: right;
  margin-right: 10px;
  display: inline;
  color: black;
}

.cancel {
  height: 45px;
  width: 47%;
  float: left;
  border: 1px solid #5f5c5d;
  border-radius: 6px;
  background-color: white;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  position: fixed;
  bottom: 10px;
  padding: 0;
  margin-left: 0;
}

.next {
  height: 45px;
  width: 47%;
  float: right;
  border: 1px solid #ff7f00;
  border-radius: 6px;
  background-color: #ff7f00;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  color: #FFF7FB;
  position: fixed;
  bottom: 10px;
  margin-left: 200px;
}

.inline {
    width: 90%;
    margin: 50px 5% 0 10px;
}


.tableStyle {
    width: 100%;
}

table tr td {
  margin-bottom: 50px;
}

.leftCell {
    width: 70%;
}

.rightCell {
    width: 30%;
}

.separateLine {
    width: 100%;
    border-top: 1px solid lightgray;
    margin: 10px 0;
}


.summaryArea {
    width: 90%;
    margin: 0 5%;
}


.notesText{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tipsButton{
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 30px;
  font-weight: lighter;
  vertical-align: center;
  background-color: black;
  color: white;
  margin: 20px 20px 30px 40px;
}

.tipsDetail{
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  color: black;
  margin-top: 10px;
  margin-left: 20px;
}
