
.backgroundLine {
    width: 90%;
    margin: 0 5%;
}


.background {
    width: 90%;
    margin: 0 5%;
}


.headerCanvas {
    width: 100%;
    height: 70px;
    display: inline-block;
}

form {
    padding-top: 0;
}

.headerCanvasTitle {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 70px;
    vertical-align: center;
    margin-right: 70px;
    color: black;
}

.headerCanvasBackButton {
    float: left;
    font-size: 20px;
    margin-left: 10px;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    font-weight: 400;
}


.subheader {
    font-size: 16px;
    font-weight: lighter;
    float: left;
    margin: 1.3rem 0 1.2rem 1.3rem;
    color: black;
}

.label {
    font-size: 16px;
    float: left;
    margin-left: 20px;
    position: relative;
    line-height: 35px;
}

.nameLabel {
    /*line-height: 45px;*/
    display: inline;
    clear: both;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.textarea {
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 6rem;
    border: 1px solid lightgrey;
    padding: 1rem;
}

.textarea::placeholder {
    color: #bfbfbf;
}

.textarea:focus {
    color: #575455;
}


.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.titleDivider {
    margin: 0 0 0 0;
}

.highlightBlue {
    font-size: 16px;
    font-weight: lighter;
    color: black;
    float: right;
    margin-right: 10px;
    vertical-align: middle;
}

.highlightPrice {
    font-size: 16px;
    font-weight: lighter;
    color: #00b1ed;
    float: right;
    margin-right: 20px;
    display: inline;
}


.cal {
    margin-top: 15px;
}

.completeTotal {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: black;
    margin-top: 20px;
}

.completeTotalPrice {
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    display: inline;
    color: black;
}

.total {
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
}

.totalPrice {
    font-size: 16px;
    font-weight: lighter;
    float: right;
    margin-right: 10px;
    display: inline;
    color: black;
}

.cancel {
    height: 3.3rem;
    width: 40%;
    float: left;
    border: 1px solid #5f5c5d;
    border-radius: 0;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 300;
    position: fixed;
    padding: 0;
    margin-left: 0;
}

.next {
    height: 3.3rem;
    width: 100%;
    float: right;
    border: 1px solid #ff7f00;
    border-radius: 0;
    background-color: #ff7f00;
    display: inline-block;
    font-weight: 300;
    color: #FFF7FB;
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
}

.nextText {
    line-height: 3.3rem;
    display: inline-block;
}


.buttonArea {
    position: fixed;
    height: 3.3rem;
    bottom: 0;
    left: 0;
    width: 100%;
}


.tableStyle {
    width: 100%;
}

table tr td {
    margin-bottom: 50px;
}

.leftCell {
    width: 70%;
}

.rightCell {
    width: 30%;
}


.deleteButton{
    margin: 0.2rem 0 0 0;
    width: 100%;
    overflow: hidden
}
.separateLine {
    width: 100%;
    border-top: 1px solid #eeeeee;
    margin: 10px 0;
}

.separateLineShort {
    width: 100%;
    border-top: 1px solid #eeeeee;
    margin: 10px auto;
}

.summaryArea {
    width: 90%;
    margin: 0 5%;
}


.notesText {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tipsButton {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
    font-weight: lighter;
    vertical-align: center;
    background-color: black;
    color: white;
    margin: 20px 20px 30px 40px;
}

.tipsDetail {
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}

.commentArea{
    width: 90%;
    text-align: left;
    margin: 1.3rem 5% 6.4rem 5%;
}


.example{

}
.example-leave {
    background-color: green;
    opacity: 1;

}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
    background-color: red
}
