.list {
    border: none;
}

.sizeOption {
    font-size: 1rem;
    border: none;
    font-weight: lighter;
    vertical-align: top;

}

.sizeOptionPrice {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    float: right;
    /*background-color: #52c41a;*/
    margin-top: 13px;
}

.formRadio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f7f7f7;
    color: #ffffff;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    margin-right: 7px;
    outline: none;
    margin-left: 0;
}

.formRadio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.formRadio:hover {
    background-color: #f7f7f7;
}

.formRadio:checked {
    background-color: #66bb6a;
}

.labelStyle {
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}


